body {
    text-align: center;
    background-color: #6c4244;
    color: #ecba66;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


.yellow{
   background-color: #ecba66;
}

.yellow-text{
 color: #ecba66;
}



input[type="range"] {
    margin: 5px;
    padding: 8px;
    font-size: 1rem;
}

@font-face {
    font-family: "Bigfat Script"; 
    src: url('./BigScript.ttf') format('truetype'); 
  
  }
  
  .BigFat {
    font-family: "Bigfat Script",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Ensure the name matches */
  }
@font-face {
    font-family: "Cinzel"; 
    src: url('./Cinzel.otf') format('.otf'); 
  
  }
  
  .Cinzel {
    font-family: "Cinzel",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Ensure the name matches */
  }




  .c1 img{
    
    -webkit-filter: grayscale(1%) contrast(130%);
    filter: grayscale(1%) contrast(130%);
mix-blend-mode: hard-light;
  }
  .c1:after {
    background-color: #58747b;
    mix-blend-mode: overlay;
}
.c1{
    
    background: linear-gradient(#d5aeae, #8f8f8f, #c99d93, #185d62 110%);

}

.f1{
    background: linear-gradient(#b8dfdc, #aaa);
}

.f1:after {
    background: linear-gradient(#aebab6 43%, #4a5580);
    mix-blend-mode: soft-light;
}

.f1 img {
    -webkit-filter: contrast(150%);
            filter: contrast(150%);
    opacity: 0.85;
}
.g3 {
    background: linear-gradient(#485c6e, #b9b9b0 15%, #4b6974);
}
.g3:after {
    background: linear-gradient(#aebab6 43%, #4a5580);
    mix-blend-mode: soft-light;
}
.g3 img {
    -webkit-filter: contrast(130%);
            filter: contrast(130%);
    mix-blend-mode: hard-light;
}

.p5 {
    background-color: #8facaf;
}

.p5:after {
    background: linear-gradient(to bottom left, #9ec1b3, #8c78a0, #646983, #252c37);
    mix-blend-mode: overlay;
}

.p5 img {
    -webkit-filter: contrast(150%) grayscale(15%);
            filter: contrast(150%) grayscale(15%);
    opacity: 0.8;
}
.lv3 {
    background: linear-gradient(-179deg, #a48a7a 0%, #927f77 37%, #ac8577 49%, #574d47 100%);
}

.lv3 img {
    -webkit-filter: grayscale(20%) contrast(130%);
            filter: grayscale(20%) contrast(130%);
    mix-blend-mode: hard-light;
}
.b5 {
    background-color: #000;
}

.b5 img {
    -webkit-filter: grayscale(100%) contrast(180%) brightness(95%);
            filter: grayscale(100%) contrast(180%) brightness(95%);
    opacity: 0.9;
}



.a6 {
    background-color: #a9a499;
}

.a6:after {
    background-color: #eaeae9;
    mix-blend-mode: multiply;
}

.a6 img {
    -webkit-filter: grayscale(30%) contrast(140%) hue-rotate(-5deg);
            filter: grayscale(30%) contrast(140%) hue-rotate(-5deg);
    mix-blend-mode: hard-light;
}






.kk2 {
    background: linear-gradient(-179deg, #b1957d 29%, #7d7b73 57%, #ce9778 100%);
}

.kk2:after {
    background-color: #dab66d;
    mix-blend-mode: darken;
    opacity: 0.15;
}

.kk2 img {
    -webkit-filter: grayscale(30%) contrast(170%);
            filter: grayscale(30%) contrast(170%);
    mix-blend-mode: hard-light;
    opacity: 0.8;
}






.m5 {
    background: radial-gradient(#c09f81, #816c5f);
}

.m5:after {
    background: linear-gradient(#bbccce 50%, #000000);
    mix-blend-mode: soft-light;
    opacity: 0.5;
}

.m5 img {
    -webkit-filter: grayscale(40%) contrast(110%);
            filter: grayscale(40%) contrast(110%);
    mix-blend-mode: hard-light;
}





.m3 {
    background-color: #817e72;
}

.m3:after {
    background-color: #cce7de;
    mix-blend-mode: multiply;
    opacity: 0.35;
}

.m3 img {
    -webkit-filter: grayscale(30%) contrast(155%);
            filter: grayscale(30%) contrast(155%);
    mix-blend-mode: hard-light;
    opacity: 0.75;
}






.hb1 {
    background: linear-gradient(-180deg, #8e8d9a 30%, #a6939f 48%, #6c7c95 65%, #6a7b95 58%, #c5cdd7 86%, #303743 100%);
}

.hb1:after {
    background-color: #294459;
    mix-blend-mode: lighten;
    opacity: 0.5;
}

.hb1 img {
    -webkit-filter: grayscale(20%) contrast(130%);
            filter: grayscale(20%) contrast(130%);
    mix-blend-mode: hard-light;
}





.hb2 {
    background: linear-gradient(-180deg, #8e8d9a 31%, #a69893 49%, #4c4644 58%, #c5cdd7 88%, #303d43 100%);
}

.hb2:after {
    background-color: #315764;
    mix-blend-mode: overlay;
    opacity: 0.25;
}

.hb2 img {
    -webkit-filter: grayscale(20%) contrast(130%);
            filter: grayscale(20%) contrast(130%);
    mix-blend-mode: hard-light;
}






.acg {
    background-color: #eceedf;
}

.acg:after {
    background: linear-gradient(-180deg, #77766f 30%, #6a6f68 60%, #45353e 100%);
    mix-blend-mode: overlay;
}

.acg img {
    -webkit-filter: grayscale(40%) contrast(160%) brightness(85%) hue-rotate(-5deg);
            filter: grayscale(40%) contrast(160%) brightness(85%) hue-rotate(-5deg);
    mix-blend-mode: darken;
    opacity: 0.85;
}





.x1 {
    background-color: #444;
}

.x1:after {
    background-color: #333;
    mix-blend-mode: lighten;
}

.x1 img {
    -webkit-filter: grayscale(100%) contrast(150%) brightness(110%);
            filter: grayscale(100%) contrast(150%) brightness(110%);
    opacity: 0.75;
}




.t1 {
    background-color: #9d9990;
}

.t1:after {
    background-color: #878787;
    mix-blend-mode: lighten;
    opacity: 0.5;
}

.t1 img {
    -webkit-filter: grayscale(20%) contrast(140%);
            filter: grayscale(20%) contrast(140%);
    mix-blend-mode: hard-light;
}